body {
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
	background-color: #f5f5f5;
	font-family: Roboto, sans-serif;
}

main {
	flex: 1 0 auto;
}

.container {
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;
	box-sizing: border-box;
	max-width: 1170px;
	height: 100%;
}

.registration__form {
	padding: 20px;
	width: 30%;
}

.row {
	display: flex;
	flex-flow: row wrap;
}

.row_justify_space-between {
	justify-content: space-between;
}

.row_justify_center {
	justify-content: center;
}

.h_center {
	text-align: center;
}
