.footer {
	background: linear-gradient(to right, #ba55d3, #6a5acd);
    width: 100%;
    height: 40px;
    padding-top: 20px;
    text-align: center;
    color: #ffffff;
    text-decoration-line: none;
}